---
---

<span class="inline-flex items-center gap-1 transition hover:opacity-85">
    <img src="/mark-gradient.svg" alt="" width="36" height="36" class="h-9 w-9" />
    <span
        class="hidden translate-y-[0.1em] text-lg font-black tracking-tight gradient-text sm:block"
    >
        Cabin
    </span>
</span>
